<!DOCTYPE html>
<html class="has-background-white">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Code Snippets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title is-1 has-text-danger">
        My Code Snippets
      </h1>
	  <% if (snippets.length === 0) { %>
      <p class="subtitle">
		You have no snippets currently
      </p>
	  <% } %>
    </div>
  </section>
  <div class="tile is-ancestor">

	<div class="tile is-vertical is-parent">
		<% let i;
		   for (i=0; i<Math.ceil(snippets.length/2); ++i) { %>
			<div class="title is-child box has-background-success">
        		<img class="image" src="<%= snippets[i].imageURL %>" />
				<br>
				<pre class="is-family-code"><%= snippets[i].code.trim() %></pre>
			</div>
		<% } %>
	</div>
	<div class="tile is-vertical is-parent">
		<% for (; i<snippets.length; ++i) { %>
			<div class="title is-child box has-background-success">
        		<img class="image" src="<%= snippets[i].imageURL %>" />
				<br>
				<pre class="is-family-code"><%= snippets[i].code.trim() %></pre>
			</div>
		<% } %>
	 </div>
  </body>
</html>
