html {
	width: 100%;
	font-family: sans-serif;
	background-color: dimgray;
}

h1, p {
	color: lightgray;
	margin-left: 1em;
}

.pair {
	padding: 1em;
	padding-bottom: 0.01em;
	margin: 1em 0;
	background-color: gray;
}

.image {
	max-width: 80%;
	max-height: 10em;
	border: 2px;
	border-color: dimgray;
	border-style: solid;
	object-fit: contain;
}

.code {
	color: lightgray;
	padding-left: 1em;
	border-left: 2px;
	border-left-color: dimgray;
	border-left-style: solid;
}
